---
const props = Astro.props;
---

<a
	{...props}
	rel="noopener noreferrer"
	class="underline underline-offset-4 decoration-2 decoration-destructive text-foreground font-semibold break-all"
>
	<slot />
</a>
