---
const props = Astro.props;
---
<blockquote {...props} class="bg-primary py-2 px-4 my-2 text-primary-foreground">
  <span class="text-4xl text-primary-foreground mb-1">“</span>
  <slot /> 
</blockquote>