---
import i18next, { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import HeaderLayout from "../../layouts/HeaderLayout.astro";
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle, } from "@/components/ui/card";
import FooterLayout from "@/layouts/FooterLayout.astro";
import { Separator } from "@/components/ui/separator";

changeLanguage("zh");
---

<Layout title={t("")}>
	<HeaderLayout>
		<FooterLayout>
			<div class="py-16 px-8 md:px-16 flex justify-center">
				<div class="w-full lg:w-2/3">
					<Card>
						<CardHeader>
							<CardTitle>Jennifer Pan</CardTitle>
							<CardDescription>Assistant</CardDescription>
						</CardHeader>
						<CardContent>
							<div class="flex flex-wrap gap-2">
								<p
									class="w-16 rounded-sm bg-destructive text-destructive-foreground p-1 text-center"
								>
									Email
								</p>
								<p class="flex-1 p-1 whitespace-nowrap break-words">emailexample@gmail.com</p>
							</div>
							<Separator className="mb-4" />
							<div class="flex flex-wrap gap-2">
								<p
									class="w-16 rounded-sm bg-destructive text-destructive-foreground p-1 text-center"
								>
									Phone
								</p>
								<p class="flex-1 p-1 whitespace-nowrap break-words">(02) 12345678</p>
							</div>
							<Separator className="mb-4" />
						</CardContent>
						<CardFooter className="flex justify-between" />
					</Card>
				</div>
			</div>
		</FooterLayout>
	</HeaderLayout>
</Layout>
