---
import i18next, { t, changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import HeaderLayout from "../layouts/HeaderLayout.astro";
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle, } from "@/components/ui/card";
import FooterLayout from "@/layouts/FooterLayout.astro";

changeLanguage("en");
---

<Layout title={t("")}>
<HeaderLayout>
<FooterLayout>
		<div class="py-16 px-16 flex justify-center">
			<div class="w-2/3">
				<Card>
					<CardHeader>
						<CardTitle>Create project</CardTitle>
						<CardDescription>
							Deploy your new project in one-click.
						</CardDescription>
					</CardHeader>
					<CardContent>Content</CardContent>
					<CardFooter className="flex justify-between">
						Footer
					</CardFooter>
				</Card>
			</div>
		</div>
</FooterLayout>
</HeaderLayout>
</Layout>
