---
import { changeLanguage } from "i18next";
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import HeaderLayout from "@/layouts/HeaderLayout.astro";
import FooterLayout from "@/layouts/FooterLayout.astro";

changeLanguage("zh");

export async function getStaticPaths() {
    const newsEntries = await getCollection("news");
    return newsEntries.map(entry => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}
const { entry } = Astro.props;
const frontmatter = entry.data;
const { Content } = await entry.render();
---
<Layout title={ frontmatter.title }>
    <HeaderLayout>
        <FooterLayout>
            <div class="flex justify-center">
				<div class="w-2/3 py-10">
					<Content/>
				</div>
			</div>
        </FooterLayout>
    </HeaderLayout>
</Layout>


