---
import { t } from "i18next"
---

<footer class="flex flex-col gap-3 bg-secondary m-0 px-10 pt-10">
    <div>
        <ul class="grid gap-3 p-6 md:w-[400px] lg:w-[500px] lg:grid-cols-[.75fr_1fr]">
        <li class="row-span-3">
            <a
                class="flex h-full w-full select-none flex-col justify-end rounded-md p-6 bg-popover border-2 border-primary no-underline outline-none focus:shadow-md"
                href="/"
            >
            <!-- <Icons.logo className="h-6 w-6" /> -->
                <div class="mb-2 mt-4 text-lg font-medium">
                    {t("footer.title")}
                </div>
                <p class="text-sm leading-tight text-muted-foreground">
                    {t("footer.description")}
                </p>
            </a>
        </li>
    </ul>
    </div>
    <div class="flex text-primary justify-center">
        <p class="text-center pb-2">
            @2024 All rights reserved .
        </p>
    </div>
</footer>