---
import LanguageSelector from "@/components/language_selector/LanguageSelector.astro";
import Nav, { type NavLinkData } from "@/components/Nav";
import ThemeSelector from "@/components/theme_selector/ThemeSelector.astro";
import { Separator } from "@/components/ui/separator";
import { localizePath } from "astro-i18next"
import { t } from "i18next";

const navLinks: NavLinkData[] = [
    { name: t("nav.home"), href: localizePath("/"), id: 1 },
    { name: t("nav.members"), href: localizePath("/members"), id: 1 },
    { name: t("nav.news"), href: localizePath("/news"), id: 2 },
    { name: t("nav.contact"), href: localizePath("/contact"), id: 3 },
];
---

<>
    <Nav client:load navLinks={navLinks}>
        <LanguageSelector slot="languageSelector"/>
        <ThemeSelector slot="themeSelector"/>
    </Nav>
    <Separator/>
    <slot />
</>
