---
import LanguageSelector from "@/components/language_selector/LanguageSelector.astro";
import Nav from "../components/Nav";
---

<>
    <Nav client:load>
        <LanguageSelector slot="languageSelector"/>
    </Nav>
    <slot />
</>

